body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.left, .mid {
    display: flex;
    align-items: center;
}

.left img, .mid img {
    margin-right: 10px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.tags {
    display: flex;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.tag {
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.tag.dark {
    background-color: #333;
    color: #fff;
}

.tag.light {
    background-color: #f0f0f0;
    color: #333;
}

.main {
    display: flex;
    padding: 20px;
    
}

.vertical {
    min-width: 200px;
    margin-right: 20px;
}

.vertical a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #333;
}

.vertical img {
    width: 30px;
    margin-right: 10px;
}

.vertical p {
    font-size: 16px;
    font-weight: bold;
}

.center {
    
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.center img {
    display: flex;
    width: calc(33.33% - 20px);
    margin: 10px;
}
